{% extends 'business/shop.html' %}
{% block body-right %}
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Shop</div>
        <div class="panel-body">
            <div class="col-md-7">
                <div style="padding-left:0; font-size: 20px;"><strong>广告投入</strong></div>
            </div>
        </div>

        <!-- Table -->
        <table class="table table-bordered">
            <tr>
                <td>xxx</td>
                <td>eee</td>
                <td>sss</td>
            </tr>
        </table>
    </div>
{% endblock %}