{% extends 'business/base.html' %}
{% block body %}
    <div class="row">
        <div class="col-md-offset-3 col-md-6" style="display:flex;height:250px;">

                <div class="col-md-4 btn"
                     style="text-align:center;line-height:250px;font-size:50px;height:100%; border-radius:50%;background-color:  #428bca">
                    <a href="/" style="text-decoration:none;"><strong>首页</strong></a>
                </div>


                <div class="col-md-4 btn"
                     style="text-align:center;line-height:250px;font-size:50px;height:100%; border-radius:50%;background-color:  #5cb85c">
                    <a href="/business/shop/" style="text-decoration:none;"><strong>店铺</strong></a>
                </div>


                <div class="col-md-4 btn"
                     style="text-align:center;line-height:250px;font-size:50px;height:100%; border-radius:50%;background-color:  #5bc0de">
                    <a href="/business/message/" style="text-decoration:none;"><strong>消息</strong></a>
                </div>

        </div>
    </div>
{% endblock %}