<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/person.css">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="header-left"><span id="header" style="color:#5bc0de;margin-left: 50px">{{ user.name }}</span>
            欢迎来到购物世界！
        </div>
        <div class="header-right">
            <a href="">登录</a>
            <span></span>
            <a href="">注册</a>
            <span></span>
            <a href="">用户中心</a>
            <span></span>
            <a href="">我的购物车</a>
            <span></span>
            <a href="">我的订单</a>
        </div>
    </div>
    <div class="content">
        <div class="content-header">
            <div class="content-header-left">
                <div class="logo"><img src=""></div>
                <div>
                    <span></span>
                </div>
                <div class="content-header-mess">用户中心</div>
            </div>
            <div class="content-header-right">
                <input type="text" placeholder="搜索商品">
                <button>搜索</button>
            </div>

        </div>
        <div class="content-body">
            <!--模版-->
            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>

</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/register.js"></script>
</body>
</html>