<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天窗口</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="padding: 0">
    <nav class="btn-primary" style="height:50px; text-align:center;line-height: 50px;"><strong>Welcome You</strong>
    </nav>
    <div class="content">
        <div class="chat-content" style="height:300px;overflow:hidden;overflow-y: scroll">
            <div class="chat_message">
                {% for item in message_list %}
                    {% if username == 'a' %}
                        {% if item.who_send != '1' %}
                            <div class="row clearfix" style="margin: 0">
                                <div class="col-xs-1 " style=" padding:0;height:40px;">
                                    <img src="/static/images/person.jpg"
                                         style="border-radius: 50%;width:100%;height:100%;">
                                </div>
                                <div class="col-xs-10" style="padding:0;">
                                    <div class="">{{ item.uid.name }}&nbsp;&nbsp;<span>{{ item.date|date:"Y-m-d H:i:s" }}</span></div>
                                    <div class="pull-left"
                                         style="background-color: rgb(239, 243, 246);height:30px;line-height:30px;border-radius: 5px;">
                                        {{ item.content }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row" style="margin: 0">
                                <div class="col-xs-1  pull-right" style="padding:0;height:40px;">
                                    <img src="/static/images/logo.jpg"
                                         style="border-radius: 50%;width:100%;height:100%;">
                                </div>
                                <div class="col-xs-10  pull-right" style="padding:0; overflow:hidden;">
                                    <div style="text-align: center;">&nbsp;&nbsp;<span>{{ item.date|date:"Y-m-d H:i:s" }}</span></div>
                                    <div class=" pull-right"
                                         style="background-color: rgb(239, 243, 246);height:30px;line-height:30px;border-radius: 5px;">
                                        {{ item.content }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% else %}
                        {% if item.who_send == '1' %}
                            <div class="row clearfix" style="margin: 0">
                                <div class="col-xs-1 " style=" padding:0;height:40px;">
                                    <img src="/static/images/logo.jpg"
                                         style="border-radius: 50%;width:100%;height:100%;">
                                </div>
                                <div class="col-xs-10" style="padding:0;">
                                    <div class="">1号客服&nbsp;&nbsp;<span>{{ item.date|date:"Y-m-d H:i:s" }}</span></div>
                                    <div class="pull-left"
                                         style="background-color: rgb(239, 243, 246);height:30px;line-height:30px;border-radius: 5px;">
                                        {{ item.content }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row" style="margin: 0">
                                <div class="col-xs-1  pull-right" style="padding:0;height:40px;">
                                    <img src="/static/images/person.jpg"
                                         style="border-radius: 50%;width:100%;height:100%;">
                                </div>
                                <div class="col-xs-10  pull-right" style="padding:0; overflow:hidden;">
                                    <div style="text-align: center;">&nbsp;&nbsp;<span>{{ item.date|date:"Y-m-d H:i:s" }}</span></div>
                                    <div class=" pull-right"
                                         style="background-color: rgb(239, 243, 246);height:30px;line-height:30px;border-radius: 5px;">
                                        {{ item.content }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div>
            <form>
                <div style="height:30px; background-color:#ddd;"></div>
                <div id="chat_user" style="display:none;">{{ username }}</div>
                <div id="to" style="display:none">{{ to }}</div>
                <div>
                    <input class="form-control" id="input_message">
                </div>
                <button class="btn btn-primary pull-right" id="send_message" type="button"
                        style="width:80px;margin-top: 5px;">发送
                </button>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/register.js"></script>
<script src="/static/js/chat.js"></script>
</body>
</html>