<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/static/css/person.css">-->
    <style>
        .content-header {
            height: 80px;
        }

        .content-head > div {
            height: 80px;
            text-align: center;
            line-height: 80px;
        }

        .dropdown:hover {
            color: green;
            cursor: pointer;
        }

        .block {
            position: absolute;
            list-style: none;
            overflow: hidden;
            top: -1px;
            left: 100%;
            z-index: 1;
            background-color: white;
            border-radius: 5px;
            display: none;
        }

        .dropdown:hover .block {
            max-height: 500px;
            max-width: 400px;
            display: block;
        }

        .content-body-content-body {
            display: flex;
        }

        .content-body-content-body > div {
            {#width: 20%;#}
            height: 250px;
            text-align: center;
            border: 1px solid #eee;
        }


    </style>
</head>
<body>
<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="">欢迎来到购物世界！</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="/login/">登录</a><span class="sr-only">(current)</span></li>
                    <li role="presentation"><a href="/login/register/">注册</a><span class="sr-only">(current)</span></li>
                    <li role="presentation"><a href="#">用户中心</a><span class="sr-only">(current)</span></li>
                    <li role="presentation"><a href="#">我的购物车</a><span class="sr-only">(current)</span></li>
                    <li role="presentation"><a href="#">我的订单</a><span class="sr-only">(current)</span></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row content-header">
        <div class="logo col-md-1 col-md-offset-1">天天购物</div>
        <div class="col-md-5 col-md-offset-2">
            <form class="form-inline ">
                <div class="col-xs-9">
                    <input type="text" style="width:100%;cursor:pointer;" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" id="search">搜索</button>
            </form>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <div class="shopping-car">
                <a href="#">
                    <span style="color:orangered" class="glyphicon glyphicon-shopping-cart"></span>
                    <strong>购物车</strong>
                    <span class="car"> 9 </span>
                </a>
            </div>
        </div>

    </div>
    <div class="content-body">
        <div class="content-body-nav  row" style="border-bottom: 2px solid green">
            <div class="col-md-2 col-md-offset-1"
                 style="background-color: #2b542c;text-align:center; height:40px;line-height: 40px;font-size: 15px;color:white;">
                全部商品分类
            </div>
            <div style=" height:40px;line-height: 40px;font-size: 15px;color:white;">
                <a style="margin-left:20px;padding-right:10px;">首页</a>
                <a style="padding-left:20px;padding-right:10px;border-left:1px solid #ccc; ">手机生鲜</a>
                <a style="padding-left:20px;border-left:1px solid #ccc;">抽奖</a>
            </div>
        </div>
        <div class="col-md-offset-1" style="height:40px;line-height: 40px; padding-left: 0;padding-right: 0;">
            <a href="/">全部分类</a> >>  <a>详情</a>
        </div>

        <div class="col-md-10 col-md-offset-1" style="height:400px;border:1px solid #eee;">
            <div class="col-md-3" style="margin-top:18px;height:280px;border:1px solid #eee;padding-left: 0;padding-right:0;">
                <img src="{{ detail_list.img_url }}" style="width:100%;height:100%;">
            </div>
            <div class="col-md-9" style="height:280px;margin-top:18px; border:1px solid green;">
                <div style="height:50px;line-height: 50px; font-size: 20px;">
                    {{ detail_list.name }}
                </div>
                <div style="height:30px; line-height: 30px;">
                    颜色：{{ detail_list.color }}
                </div>
                <div style="height:30px; line-height: 30px;">
                    月销量：500+
                </div>
                <div style="height:30px; line-height: 30px;">
                    价格：<span id="price">{{ detail_list.price }}</span>
                </div>
                <div style="height:40px; line-height: 40px;">
                    数量：
                        <input type="number" id="getNumber" value="1" style="width:40px;cursor:pointer">
                </div>
                <div style="margin-top:20px;height:40px; line-height: 40px;">
                    总价：<span id="all_price" style="font-size: 20px;">{{ detail_list.price }}</span>
                </div>
                <div>
                    <button id="buy_btn" style="text-align:center;height:30px;width:150px;font-size:15px;border:1px solid red; background-color:#eee;border-radius: 20px;">立即购买</button>
                    <button id="add_car_btn" style="margin-left:20px;text-align:center;height:30px;width:150px;font-size:15px;border:1px solid red; background-color:red;border-radius: 20px;">加入购物车</button>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 row" style="margin-top:20px;padding-left: 0; padding-right: 0;">
            <div class="col-md-2" style="height:600px;   padding-left:0;padding-right: 0;">
                <div style="height:40px;text-align: center;line-height: 40px;background-color: #eee;">热门推荐</div>
                <div>
                     <div style="height:250px; text-align: center; border: 1px solid #eee;">
                        <div style="height:80%;">
                            <img src="https://image2.suning.cn/uimg/cms/img/155185839073039633.jpg" style="width: 100%;height:100%;">
                        </div>
                        <div>
                            <p>三星S10</p>
                            <p>6666.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10" style="height:600px; padding-right: 0">
                <div class="list-content-right-header" style="height:40px;line-height: 40px;padding-right: 0; display: flex;">
                    <div id="detail" style="width:100px; text-align: center; font-size: 15px;background-color: green;border:1px solid #eee;">
                         <a>商品详情</a>
                    </div>
                   <div id="comment" style="width:100px; text-align: center; font-size: 15px;border: 1px solid #eee;">
                        <a >评论</a>
                   </div>
                </div>
                <div class="list-content-right-body">
                    <div class="detail-main" style="width:100%;height:550px; ">
                        <div style="min-height:80px;border:1px solid green;">
                            <div style="margin-left:20px;font-size: 15px;height:40px;line-height: 40px;"></div>
                            <div style="margin-left:30px;">真实好东西</div>
                        </div>
                    </div>
                    <div class="comment-main" style="display:none;width:100%;height:550px; border: 1px solid red;">
                        <div style="height:80px;border:1px solid green;">
                            <div style="margin-left:20px;font-size: 15px;height:40px;line-height: 40px;">{{ detail_list.comment__userinfo__nickname }}</div>
                            <div style="margin-left:30px;">{{ detail_list.comment__content }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/register.js"></script>
</body>
</html>