.content-header {
    height: 80px;
}

.content-head > div {
    height: 80px;
    text-align: center;
    line-height: 80px;
}

.dropdown:hover {
    color: green;
    cursor: pointer;
}

.block {
    position: absolute;
    list-style: none;
    overflow: hidden;
    top: -1px;
    left: 100%;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    display: none;
}

.dropdown:hover .block {
    max-height: 500px;
    max-width: 400px;
    display: block;
}

.content-body-content-body {
    display: flex;
}

.content-body-content-body > div {
    height: 250px;
    text-align: center;
    border: 1px solid #eee;
}

.chat-box {
    display: none;
}

.connect_seller:hover .chat-box {
    display: block;

}
/*#i1 {*/
    /*display: none;*/
/*}*/
/*.face:hover #i1{*/
    /*display: block;*/
/*}*/
.face div ul {
    position: absolute;
    cursor:pointer;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    box-shadow: 0 0 12px #666;
}
.face div ul li{
    width:20px;
    height:20px;
    margin:0 auto;
    list-style-type: none;
    cursor:pointer;
}

.c_face #ci1 ul {
    position: absolute;
    cursor:pointer;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    box-shadow: 0 0 12px #666;
}
.c_face #ci1 ul li{
    width:20px;
    height:20px;
    margin:0 auto;
    list-style-type: none;
    cursor:pointer;
}
