<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<div class="container">
    <div class="header"></div>
    <div class="content">
        <div class="content-right" style="margin: 0 auto; z-index:2">
            <div class="content-right-header">
                <!--母版-->
                {% block header %}

                {% endblock %}
            </div>
            <div class="content-right-content" >
                <!--继承母版-->
                {% block page %}

                {% endblock %}
            </div>
        </div>
    </div>
    <footer>

    </footer>

</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/register.js"></script>
</body>
</html>