{% extends 'login/base.html' %}
{% block header %}
    <div class="user-1">用户注册</div>
    <div class="user-2"><a href="/login/">登录</a></div>
{% endblock %}
{% block page %}
    <div>
        <form>
            {% csrf_token %}
            <div class="line-w">
                <div class="line">
                    <div class="name-left"><label for="user">用户名:</label></div>
                    <div><input type="text" class="input" name="user" id="user"></div>
                </div>
                <div class="error" id="u_error">{{ error }}</div>
            </div>
            <div class="line-w">
                <div class="line">
                    <div class="name-left"><label for="pwd">密码：</label></div>
                    <div><input type="password" class="input" name="pwd" id="pwd"></div>
                </div>
                <div class="error" id="p_error"></div>
            </div>
            <div class="line-w">
                <div class="line">
                    <div class="name-left">
                        <lable for="rpwd">确认密码：</lable>
                    </div>
                    <div><input type="password" class="input" name="rpwd" id="rpwd"></div>
                </div>
                <div class="error" id="rp_error"></div>
            </div>
            <div class="line-w">
                <div class="line">
                    <div class="name-left"><label for="email">邮箱：</label></div>
                    <div><input type="email" class="input" name="email" id="email"></div>
                </div>
                <div class="error" id="e_error"></div>
            </div>
            <div class="line-w">
                <div class="line">
                    <div class="name-left"><label for="email"></label></div>
                    <div><input type="text" class="input" style="width:100px;" name="check_message" id="check_message"><button class="check_message_btn" type="button" style="height:38px;cursor:pointer">获取验证码</button></div>
                </div>
                <div class="error" id="e_error"></div>
            </div>
            <div>
                <div style="font-size: 20px;color:#eee;">
                    <input type="checkbox" name="check" id="check_agree">是否同意
                </div>
            </div>
        </form>
        <div>
            <button class="btn" type="button" id="btn" style="cursor:pointer;" >注册</button>
        </div>
    </div>
{% endblock %}