<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="container-fluid body" style="padding-left: 0; padding-right: 0;background-color: silver;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">欢迎来到购物世界！</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="/person/">用户中心</a><span class="sr-only">(current)</span>
                    </li>
                    <li role="presentation"><a href="/shoppingCar/carShow/">我的购物车</a><span
                            class="sr-only">(current)</span></li>
                    <li role="presentation"><a href="#">我的订单</a><span class="sr-only">(current)</span></li>
                    {% if username %}
                        <li role="presentation"><a id="index__user">{{ username }}</a><span
                                class="sr-only">(current)</span></li>
                        <li class="dropdown">
                            <a href="/login/logout/">退出</a>
                        </li>
                    {% else %}
                        <li role="presentation"><a href="/login/">登录</a><span class="sr-only">(current)</span></li>
                        <li role="presentation"><a href="/login/register/">注册</a><span class="sr-only">(current)</span>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="col-md-offset-1" style="font-size: 50px;font-weight: normal">
        <strong>请选择支付方式</strong>
    </div>
    <div class="row col-md-offset-3" style="display: flex;padding-top: 50px; height:600px;">
        <div class="col-md-2" style="text-align: center">
            <a href="/pay/pay_ali/?price={{ price }}&item={{ item }}">
                <div class="thumbnail">
                    <img src="http://zhifu.qdlinghu.com/static/picture/zfb.png" alt="支付宝" class="img-rounded">
                    <div class="caption ">
                        <h3>支付宝</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2" style="text-align: center">
            <a href="/pay/pay_wx/?price={{ price }}&item={{ item }}">
                <div class="thumbnail">
                    <img src="http://zhifu.qdlinghu.com/static/picture/wx.png" alt="微信" class="img-rounded">
                    <div class="caption">
                        <h3>微信</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2" style="text-align: center">
            <a href="/pay/pay_yl/?price={{ price }}&item={{ item }}">
                <div class="thumbnail">
                    <img src="http://zhifu.qdlinghu.com/static/picture/yl.png" alt="银联" class="img-rounded">
                    <div class="caption">
                        <h3>银联</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/register.js"></script>
</body>
</html>