{% extends 'person/base.html' %}
{% block person-body %}
<div class="row">
<div style="font-size: 30px;margin-top:15px;margin-left: 40px;">
    <strong>优惠劵</strong>
</div>

{% for item in ticket %}
    <div class="col-md-10 col-md-offset-1" style="padding:0;border-radius: 10px;border:1px solid #eee;cursor:pointer;">
        <div class="child" style="background-color: orange;height:80px;border-radius: 10px;">
            <div class="hidden">{{ item.id }}</div>
            <div class="col-xs-12"><strong>{{ item.tName }}</strong>&nbsp;&nbsp;&nbsp;<strong>{{ item.tDescribe }}</strong></div>
            <div class="col-xs-offset-5">
                <div style="font-size: 30px;color:white">{{ item.tPrice }}</div>
            </div>
            <div class="pull-right">{{ item.tDate|date:"Y-m-d H:i:s" }}</div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}